@tailwind base;
@tailwind components;

* {
  @apply font-serif;
}

* {
  @screen print {
    @apply text-sm;
  }
}

body {
  @apply px-4;
  @screen md {
    @apply px-0;
  }

  @screen print {
    max-height: 297mm;
    width: 210mm;
  }

  page-break-after: always;
}

a {
  @apply underline;
}

section {
  .section-title {
    @apply border-solid border-b-2 border-black font-bold my-2;
  }

  .section-item {
    @apply my-2;

    .section-item-title {
      @apply flex flex-wrap;

      .section-item-title-text {
        @apply font-bold flex-1;
      }

      .section-item-date {
        @apply text-right;
      }
    }

    .section-item-subtitle {
      @apply italic col-span-3;
    }
  }

  .section-item-compact {
    @extend .section-item;
    @apply my-0;
  }
}

@tailwind utilities;
